# Obsidian internals
.obsidian/workspace*
.obsidian/cache/
.obsidian/app.json

# Corporate/private folders
*-corp/
*-corporate/
*-priv/
*-private/
corp/
corporate/
priv/
private/

# Secrets
secret/
secrets/
*-secret/
*-secrets/
